# Requirements
numpy
pandas
pillow
opencv-contrib-python #has more modules

#for testing
nose
unittest





#python-bsonjs # This would be nice but requires a specific c++ compiler, so maybe not
